body {
    margin: 60px auto;
    width: 70%;
}

p {
    font-size: 15px;
    line-height: 1.4em;
    color: #333;
    display: inline-block; 
}

.displayPicture {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    float: left;
    top: 350px;
    vertical-align: top;
}

.greet {
    text-align: center;
    font-family: open sans;
    font-size: 30px;
    position: relative; 
    left: 50px;
}

.AboutMe{
    font-size: 16px;
    position : relative; 
    left: 50px;
    top: -30px;
}