.App {
  text-align: center;
  font-size : 30px;
}

body {
    margin: 60px auto;
    width: 70%;
}

p {
    font-size: 15px;
    line-height: 1.4em;
    color: #333;
    display: inline-block; 
}

.displayPicture {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    float: left;
    top: 250px;
    vertical-align: top; 
}

.h1 {
    font-family: open sans;
    font-size: 40px;
    display: inline;
}

.AboutMe{
    font-family: open sans;
    font-size: 20px;
    float: right; 
    display: inline-block; 
}
