body {
    margin: 60px auto;
    width: 70%;
}

p {
    font-size: 15px;
    line-height: 1.4em;
    color: #333;
    display: inline-block; 
}

.displayPicture {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    float: left;
    top: 350px;
    vertical-align: top;
}

.iconPictures {
    border-radius: 20%;
    height: 25px;
    width: 50px; 
    margin-right: 20px; 
}

.greet {
    position: relative; 
    text-align: center;
    font-family: open sans;
    font-size: 30px;
    position: relative; 
    left: 50px;
    bottom: 30px;
}

.AboutMe{
    font-size: 16px;
    position : relative; 
    left: 50px;
    top: -30px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: white;
    text-align: center;
}

.header a {  
   color: #000EFF; 
   text-align: center;
   text-decoration: none; 
   font-size: 15px; 
   padding: 16px; 
}

.header a:hover {
    background-color: #ddd;
    color: black; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #848484;
    color: white;
    text-align: center;
    padding: 15px;
}

.footer a {
    padding: 15px;
}

.bibleVerse {
    position:fixed; 
    font-size: 12px;
    font-weight: bold;
    position: fixed;
    font-style: italic;
    font-family: Verdana;
    width:100%;
    left: 3%;
    bottom:70px; 
    text-align: center;
}